.wrap {
   display: flex;
   justify-content: center;
   align-items: center;
}

.inpt {
   margin-top: 15px;
   margin-left: 15px;
   min-height: 50px;
   width: 600px;
   font-size: 18px;
   align-items: center;
   border-radius: 15px;
}

.btn {
   margin-top: 11px;
   margin-left: 25px;
   height: 60px;
   border: 2px solid black;
   font-size: 18px;
   background: rgba(3, 92, 165, 0.8);
   color: white;
   border-radius: 12px;
}

.todo {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   font-size: 24px;
   border: 2px solid blue;
   width: 500px;
   min-height: 50px;
   margin-top: 30px;
   border-radius: 12px;
}

.btn-r {
   margin-left: 10px;
   font-size: 18px;
   background: transparent;
   border: none;
   outline: none;
   color: red;

}